* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    overflow-x: hidden;
}

/* Landing Section */
.landing-section {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #090607;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.social-links {
    margin-top: 20px;
    font-size: 18px;
}

.social-links a {
    color: #13E8E9;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #10c5c6;
}

